.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  position: relative;

  @media screen and (max-width: 800px) {
    width: 300px;
  }

  .title {
    margin: 10px 0;
  }
  @media screen and (max-width: 800px) {
    button {
      width: 300px;
    }
  }
}
