.wrapper {
  border-radius: 0;
  background-color: black;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 10px;
  opacity: 0.8;

  &.signing-up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-55%, -50%);
  }
  &.signing-in {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
  }

  .loading-spinner {
    width: 2.5rem;
    height: 2.5rem;
    border: 3px solid rgba(225, 225, 225, 0.1);
    border-radius: 50%;
    border-top-color: #fff;

    margin-bottom: 5px;
    animation: 800ms spin infinite ease-in-out;
  }
  .text {
    color: #fff;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
